.header {
    position : absolute;
    left     : 15px;
    right    : 15px;
    top      : 40px;
    z-index  : 9;
    }

/*Logo*/
.navbar-brand {
    padding : 0;
    height  : auto;
    margin  : 5px 0 !important;
    }

@media (max-width : 768px) {
    .navbar-brand {
        width : 200px;
        }

    .navbar-brand img {
        max-width : 100%;
        height    : 100%;
        }
    }

/*navbar*/

.navbar {
    color : black;
    border-radius  : 0;
    padding        : 30px 0;
    /*background     : transparent;*/
    margin         : 0;
    font-size      : 15px;
    text-transform : uppercase;
    }

@media (max-width : 768px) {
    .navbar {
        padding : 10px;
        }
    }

/*navbar toggle*/
.navbar-toggle {
    margin        : 5px 0;
    padding       : 11px 10px;
    background    : transparent;
    }

.navbar-toggle:hover {
    color: #fff;
    }

.navbar-toggle .icon-bar {
    background: #fff;
    }

/*Navigation Style*/

.main-menu .navbar-right {
    margin-right : -15px;
    }

.main-menu .nav li a {
    color       :  #ff6666
;
    font-weight : 500;
    padding     : 15px 0 15px 30px;
    }

.main-menu .nav li a:hover,
.main-menu .nav li.active a {
    color      : #fd367e;
    /*background : transparent;*/
    }

.main-menu .nav li a:focus {
    background : transparent;
    }

@media (max-width : 991px) {
    .main-menu .nav li a {
        padding-left : 15px;
        }
    }

@media (max-width : 768px) {
    .main-menu .nav li {
        text-align : center;
        }

    .main-menu .nav li a {
        padding : 5px 0;
        color: #0e1555;
        }

    .navbar-collapse {
        margin-top : 10px;
        background: #fff;
        }
    }


/* Sticky Menu */
.sticky-nav {
    position           : fixed;
    right              : 0;
    left               : 0;
    top                : 0;
    z-index            : 999;
    background         : #ffffff !important;
    padding            : 5px 0;
    box-shadow         : 0 2px 5px rgba(0, 0, 0);
    -webkit-transition : all .5s ease-in-out;
    -moz-transition    : all .5s ease-in-out;
    transition         : all .5s ease-in-out;
    }

.sticky-nav .nav li a {
    color : #0e1555;
    }

.sticky-nav .navbar-toggle .icon-bar{
    background: #333;
    }

@media (max-width: 768px) {
    .sticky-nav{
        padding-left: 10px;
        padding-right: 10px;
        }
    }

/*-------------------
 * Jumbotron
 *-------------------*/

.jumbo {
    background            : url("img/.jpg");
    background-size       : cover;
    padding               : 0;
    margin                : 0;
    height                : 100vh;
    min-height            : 700px;
    vertical-align        : middle;
/*    position              : relative;
*/  
    background-repeat     : no-repeat;
    background-position   : center center;
    overflow              : hidden;
    }
    @media only screen and (min-width: 400px) {
    .jumbo { 
        background: url('IMG_1912.jpg'); 
        background-size       : cover;
    padding               : 0;
    margin                : 0;
    height                : 100vh;
    min-height            : 700px;
    vertical-align        : middle;
/*    position              : relative;
*/  
    background-repeat     : no-repeat;
    background-position   : center center;
    overflow              : hidden;
    }
}

.jumbo .content {
    color             : #ffffff;
    position          : absolute;
    top               : 50%;
    left              : 0;
    right             : 0;
    height            : 30%;
    width             : 100%;
    margin            : 0 auto;
    padding           : 0 10%;
    transform         : translateY(-50%);
    -webkit-transform : translateY(-50%);
    -moz-transform    : translateY(-50%);
    }

.jumbotron{
    background-color: white;
}

.jumbo .content h1 {
    color       : #ffffff;
    font-weight : bold;
    }

.jumbo .content p.lead {
    font-size   : 24px;
    line-height : 1.5em;
    color       : rgba(255, 255, 255, .7);
    }

.jumbo .content .event-date {
    font-size     : 24px;
    margin-bottom : 40px;
    }

.jumbo .btn {
    margin-top : 40px;
    }

@media (max-width : 600px) {
    .jumbo .content {
        min-height : auto;
        }

    .jumbo .content h1 {
        font-size : 26px;
        }

    .jumbo .content p.lead {
        font-size : 15px;
        }
    }
